#+
#:   @file         NHI1/theATL/docs/Nhi1Docs.cfg
#:   @brief        tag: nhi1-release-250425
#:   @copyright    (C) NHI - #1 - Project - Group
#:                 This software has NO permission to copy,
#:                 please contact AUTHOR for additional information
#:

source "$NHI1_HOME/docs/Nhi1Docs.lib"
load "$theKernel_SRCDIR"

#declare -p config_dirs

Doxyfile_dirs=(main)
usedot=yes
usepkg=no

UsageDetail_local() {
  cat - <<EOF

Single Doxygen file:

  core theLib documentation:
    main ... build theLib documentation

EOF
}

# -------------------------------------------------------------------------------------

# vim: syntax=bash
