#+
#:   @file         NHI1/theATL/docs/package.config
#:   @brief        tag: nhi1-release-250425
#:   @copyright    (C) NHI - #1 - Project - Group
#:                 This software has NO permission to copy,
#:                 please contact AUTHOR for additional information
#:

ALIASES += "atl85=<a href=\"https://github.com/aotto1968/atlsh\">atl1.0</a>"
ALIASES += "atl10=<a href=\"https://github.com/aotto1968/atlsh\">atl1.0</a>"
ALIASES += "atlsh=\ref atlsh \"atlsh\""
ALIASES += "NRE=<a href=\"https://www.tcl-lang.org/man/tcl8.6/TclLib/NRE.htm\">NRE</a>"
ALIASES += "tclOO=<a href=\"https://www.tcl-lang.org/man/tcl8.6/TclCmd/class.htm\">tclOO</a>"
ALIASES += "tcltest=<a href=\"https://www.tcl-lang.org/man/tcl8.6/TclCmd/tcltest.htm\">tcltest</a>"
ALIASES += "zlib=<a href=\"https://www.tcl-lang.org/man/tcl9.0/TclCmd/zlib.html\">zlib</a>"
ALIASES += "thread=<a href=\"https://www.tcl-lang.org/man/tcl8.6/ThreadCmd/thread.htm\">thread</a>"
ALIASES += "interp=<a href=\"https://www.tcl-lang.org/man/tcl8.4/TclCmd/interp.htm\">interp</a>"
ALIASES += "atltest=@ref atltest"
ALIASES += "bash=<a href=\"https://www.man7.org/linux/man-pages/man1/bash.1.html\">bash</a>"
ALIASES += "automake=<a href=\"https://www.gnu.org/software/automake/\">automake</a>"
ALIASES += "github=<a href=\"https://github.com/\">github</a>"

PROJECT_NUMBER = 1.0.2
