#+
#:   @file         NHI1/theATL/docs/package.config
#:   @brief        package.config - unknown - unknown
#:   @copyright    (C) NHI - #1 - Project - Group
#:                 This software has NO permission to copy,
#:                 please contact AUTHOR for additional information
#:   @version      unknown
#:   @date         unknown
#:   @author       unknown
#:

ALIASES += "tcl8.5.19=<a href=\"https://www.tcl-lang.org/software/tcltk/8.5.html\">tcl8.5.19</a>"

