#+
#:   @file         NHI1/theATL/docs/main/main.config
#:   @brief        main.config - unknown - unknown
#:   @copyright    (C) NHI - #1 - Project - Group
#:                 This software has NO permission to copy,
#:                 please contact AUTHOR for additional information
#:   @version      unknown
#:   @date         unknown
#:   @author       unknown
#:

